librosa==0.9.2
matplotlib
numpy
numba
phonemizer
scipy
tensorboard
Unidecode
amfm_decompy
jieba
transformers
gradio==3.50.2
mecab-python3
loguru
num2words
PyYAML
requests
jaconv
psutil
GPUtil
vector_quantize_pytorch
vinorm
underthesea
py_vncorenlp
eng_to_ipa
Cython
